

html {
	font-size: 18px;
}

body {
	line-height: 1.4;
	font-family: Helvetica, sans-serif;
}

.container {
	border: 3px dashed red;
	width: 960px;
	margin: 0 auto;
}

.main-banner {
	width: 100%;
	height: 30rem;
	background-image: url("../images/glasses-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*overflow: auto;*/ /* questo serve per evitare che i margini dei div collassino*/
	text-align: right;
	padding-top: 1rem;
	margin-bottom: 3rem;
}

nav,
.mobile-nav-menu {
	display: flex;
	justify-content: space-between;
	background-color: cadetblue;
	color: white;
	margin-top: 1rem;
}

.logo {
	display: flex;
	align-items: center;
}


.logo-image {
	overflow: hidden;
	width:auto;
	height:1.5rem;
}

.logo-image img {
	display: block;
	max-height: 100%;
	width: auto;
}


.logo img {
	margin: 0 1rem 0 2rem;
}


.nav-menu ul {
	display: flex;
	align-items: center;
}

li.mobile-menu {
	display: none;
}

.nav-menu ul li {
	padding: 1rem 2rem 1rem 0;
}




.title {
	color: black;
	background-color: white;
	display: inline-block;
	margin-top: 10rem;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
	padding: 1.5rem 5rem; 
	margin-right: -2rem;
}

.services {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;

}

.services-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-right: 3rem;
	margin-left: 3rem;
	height: 8rem;
	width: 5rem;

}
/*
.services-box p {
	text-align: center;
}
*/
.services-image img {
	width: 5rem;
	/*max-height: auto;*/
	/*overflow: hidden;*/
}

/*
.services-image .paper p {
	max-width: 5rem;
	max-height: auto;
	/*overflow: hidden;
}*/

/*
.services-image img {
	max-width: 100%;
	height: auto;
	display: block;
}
*/

.paper img {
	width: 3.5rem;
	/*height: auto;
	display: block;
	margin: 0 auto;*/
}



.information {
	display: flex;
	justify-content: center;
}

.information-box {
	width: 35%;
	margin-right: 5%;
	margin-bottom: 5rem;
}

.information-title {
	/*border: 3px dashed black;*/
	display: inline-block;
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem 4.50rem 0.5rem 1.25rem;
}

footer .container {
	display: flex;
	/*margin: 4rem 1rem 4rem 4rem;*/
	/*width: 100%;*/
}



.footer-image {
	height: 1.5rem;
	width: auto;
	overflow: hidden;
}

.footer-image img {
	max-height: 100%;
	width: auto;
	display: block;
}

@media only screen and (max-width: 1024px) {
	nav {
		margin-top: 0;
	}

	
	.container {
		width: 100%;
	}

	.title {
		margin-top: 5rem;
		font-size: 1.33rem;
		/*font-weight: bold;*/
		padding: 0.75rem 4rem; 
		margin-right: 2rem;
	}

	.main-banner {
	width: 100%;
	height: 30rem;
	padding-top: 0;
}

@media only screen and (max-width: 620px) {
	
	.container {
		width: 100%;
	}

	.main-banner {
	height: 17rem;
	padding-top: 0;
	text-align: center;
}
	.title {
		width: 100%;
		margin-top: 12rem;
		padding: 1rem 0; 
		}

	.logo p {
		display: none;
	}	

	li.desktop-menu {
		display: none;
	}

	li.mobile-menu {
		display: inline-block;
	}

	.services{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 3.77rem 0;
	}

	.services-box {
		margin-top: 1.54rem;
		height: auto;
	}

	.services-box p {
		font-size: : 0.77rem;
	}

	.information {
		flex-direction: column;
		align-items: center;
	}

	.information-box,
	.information-title {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.information-box {
		margin-bottom: 4rem;
	}

	.information-title {
		margin-bottom: 1rem;
	}

	footer p {
		display: none;
	}

	footer .container {
		justify-content: center;
	}
}